streamlit==1.57.0
langchain
langchain-classic
langchain-groq
langchain-openai
langchain-ollama
langchain-chroma
langchain-community
langchain-huggingface
chromadb
langsmith
pypdf
pandas
python-dotenv
cryptography
sentence-transformers
